.mainViewHBox{
    -fx-background-color: white;
}
#loginButton{
    -fx-background-color: dodgerblue;
    -fx-text-fill: black;
    -fx-font-size: 20px;
}
#loginButton:hover{
    -fx-border-color: gray;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-border-radius: 5px;
}
#loginButton:pressed{
    -fx-background-color: rgba(0,150,230,50);
    -fx-border-color: gray;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
}

#passwordErrorText{
    -fx-text-fill: red;
}

#chatNameTextField{
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
}

#background-lightbox{
    -fx-background-color: rgba(0,0,0,0.75);
}

.boldText{
    -fx-font-weight: bold;
}

.detailViewBigText{
    -fx-font-size: 45px;
}

.detailViewMediumText{
    -fx-font-size: 25px;
}

#conversationListItemName{
    -fx-font-size: 17px;
}

#conversationListItemStatus{
    //TODO ITALIC
}